body{
	font-family: 'Open Sans';	
}
/* estilos header +menu */
a{
	text-decoration: none;
	cursor: pointer;
	color: #9E979C;
	margin-left: 20px;
	font-size: 13px;
}
.menu a:hover{
	color: white;
	background-color: #1B7195;
}
li{
	display: inline-block;
	list-style: none;
}
.menu{
	text-align: right;
}
.back-uno{
	background-color: white;
}
header{
	padding-top: 1%;
}
img{
	width: 130px;
}
/* contenido */
.gris{
	background-color: #2F2F2F;	
}
.contenido h1{
	color: white;
	font-size: 50px;
	margin-top: 10%;
	margin-right: 5%;
}
.contenido p{
	color: white;
	margin-top: 20px;
	font-size: 14px;
	margin-right: 5%;
	margin-bottom: 20%;
}

/*formulario */
.form h1{
	color: white;
	text-align: center;
	margin-top: 5%;
}

.form{
	text-align: right;
	background-color: #505050;
	border-radius: 10px;
	margin-top: 7%;
	margin-bottom: 5%;
}
.campos{
	margin-top: 2%;
}
.feedback-input {
	font-size: 14px;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width: 100%;
}

.feedback-input:focus {
	border: 2px solid #1B7195;
	color: #1B7195;
	outline: none;
  	padding: 13px 13px 13px 54px;
}
#nombre{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#mail{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#btn-subscribe{
	width: 100%;
	cursor: pointer;
	background-color: #165771;
	color: white;
	font-size: 18px;
	padding: 3% 0;
  	margin-bottom: 5%;
}
#btn-subscribe:hover{
	background-color: #1B7195;
	color: white;
}
/* footer */
.back-dos{
	background-color: white;
	max-width: 100%;	
	margin-top: 30px;
	padding-bottom: 20px;
}
.back-dos p{
	font-size: 12px;
	color: #C3C4C0;
	padding-top: 10px;
}
