@media (max-width: 535px){
	[class*="col-"] {
		width: 100%;
	}
	.menu{
		margin-bottom: 20px;
	}
	img{
		margin-bottom: -30px;
	}
	.contenido p{
	margin-bottom: 5%;
	}
	.form{
	margin-bottom: 15%;
	}
}
